* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #001f3f, #ffffff);
    font-family: 'Roboto', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
}

.logo-container {
    margin-bottom: 30px;
}

.logo {
    width: 120px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    background-color: #02305e;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

a{
    text-decoration: none;
    color: white;
}

.btn:hover {
    background-color: #001f3f;
    transform: scale(1.05);
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(11, 89, 142, 0.8);
}

.btn:active {
    background-color: #154e75;
    transform: scale(0.95);
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .input-container {
        width: 50%;
    }
}
